page-transfert-new {
  .custom-input {
    border: 1px solid #008f5a;
  }
  .custom-label {
    font-weight: bolder;
    color: #008f5a;
    font-style: oblique;
  }
  .title {
      border-radius: 10px;
  }
  .scan-button {
      border: 2px solid white;
      border-radius: 5px;
  }
}
