page-transfert-confirmation {
    .myCard {
        border-radius: 10px;
    }

    .validation-button {
        border: 2px solid white;
        border-radius: 7px;
        float: right;
        margin: 5px;
    }

    .form-control {
        border: 2px solid white;
        border-radius: 5px;
    }
}
