page-signup {
    .signup-card {
        border-radius: 10px;
    }

    .signup-button {
        border:3px solid white;
        border-radius: 5px;
    }

    .signup-form {
        border-radius: 50px;
    }

    .form-control {
        border:2px solid white;
        border-radius: 10px;
        // background-color: white;
    }
}
